html {
  background-color: rgba(0, 77, 159, 0.164);
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.10rem;
    background-color: #ba790a;
    width: 42rem;
    height: 30%;
    margin: auto;
    position: relative;
  }
.box {
    color: rgba(0, 255, 255, 0);
}
.grid-container > div {
  background-color: rgba(197, 28, 28, 0.8);
  text-align: center;
  padding: 0.5rem 0;
}
.box-0 {
  grid-row-end: 17;
  grid-column-end: 17;
}
.grid-container > .blue {
  background-color: rgb(0, 77, 159);
}
.grid-container > .pink {
  background-color: crimson;
}
.center {
  display: inline-block;
  margin-left: 65%;
  margin-top: 3rem;
}
.page {
  padding: 5%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.push {
  height: 15rem;
  grid-template-rows: 5;
}
a {
  text-decoration: none;
  color: rgb(197, 28, 28);
} 
h1, h2 {
  color: rgb(0, 77, 159);
}
@media (max-width: 400px) {
  .grid-container {
    width: 400px;
    height: 400px;
  }
  .box {
    height: 0.4rem;
    width: 1.4rem;
  }
}